*.swp
search results.txt
uploads
*.exe
log
*.log*
*.cap
*.dll
Output
GeneratedFiles
*.exe
*.lib
*.pch
*.vspscc
*.vssscc
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
Ankh.NoLoad
*.user
*.aps
*.pyc
*.ncb
*.bin
*.xls
*.lnk
*.pdb
*.[Oo]bj
*.idb
*.suo
*.exp
*.o
*.err
*.out
*.dat
Debug
Release
Data
Temp
appsessions
.project
.pydevproject
*.db
.DS_Store
.venv
venv
.idea
.settings
sec
*.pem
compiled
bower
.webassets-cache
.idea
.tmp
localdev
.emacs.desktop*
node_modules
